<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Welcome to Quoting Dojo</h3>
    <form class="" action="/add_quote" method="post">
      <p>
        Your Name: <input type="text" name="name" value="">
      </p>
      <p>
        Your Quote: <input type="text" name="quote" value="">
      </p>
      <button>Add My Quote</button>

    </form>
    <a href="/quotes"><button>Skip to Quotes</button></a>

  </body>
</html>
